.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.stand{
    padding: 1%;
    border: 2px solid white;
    color: white;
}
    
.col-6 div.nest{
    justify-content: center;
    text-align: center;
}
.nested{
    background-color: #00e165;
    height: 30px;
    border: 1px solid white;
    color: white;
}
.margin-top{
    margin-top: 1%;
}

.height{
    height:40px;
}